.reset-container{

  min-height:90vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:linear-gradient(135deg,#43cea2,#185a9d);

}

.reset-card{

  width:420px;

  padding:30px;

  border-radius:18px !important;

  box-shadow:0 15px 40px rgba(0,0,0,0.25) !important;

}

.reset-title{

  text-align:center;

  font-weight:700 !important;

}

.reset-btn{

  margin-top:20px !important;

  padding:12px !important;

  border-radius:10px !important;

}